$color-votiee-orange = #FF4A0E
$color-topbar = #00afed
$color-body-background = #fbfcfc
$color-background = #fbfcfc
$color-button-bar = #00afed
$color-light-text = #FFFFFF
$color-light-element = #FFFFFF
$image-topbar = url("/images/background_top.png")