.voting-page
	min-height 100%
	width 100%
	background-color white

	.question-box
		background-size 100% auto
		background-image $image-topbar
		width 100%
		padding 10px 20px 10px 20px
		color $color-light-text
		font bold
		text-align center
		min-height 100px
		-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.21);
		-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.21);
		box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.21);

	.content-box
		width 100%

	.item-not-active
		text-align center
		font-size 20px
		margin-top 20px
		margin-bottom 10px
		margin-left 20px
		margin-right 20px

		.icon-waiting
			margin-top 10px
			font-size 50px

	.selector-view
		width 100%

	.selected-view
		width 100%
		text-align center
		margin-bottom 20px

	.voting-closed-view
		text-align center
		font-size 20px
		margin-top 10px
		margin-bottom 10px
		margin-left 20px
		margin-right 20px

	.answer-button
		width 96%
		margin 10px 2% 0 2%
		white-space normal
		
	.icon-ok
		color green
		font-size 70px

	.show-results-view
		.answer-results
			margin-top 20px !important
			background-color #F2F2F2
			border 1.8px solid #C3C3C3			
			margin-left 5px
			margin-right 5px
			margin-bottom 25px

	.results-info
		text-align center
		.icon-stats
			font-size 50px
			
		.results-text	
			font-size 20px


	