.menu-page
	width 100%
	min-height 100%
	background-color #E8E8E8

	.error-message
		margin 10px
		color red

	.header-information
		background-size 100% auto
		background-image $image-topbar
		width 100%
		padding 10px
		color $color-light-text
		text-align center
		-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.21);
		-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.21);
		box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.21);

		.logo-image
			width 70% 
			max-width 400px
			margin-left auto
			margin-right auto
			padding-top 10px
			padding-bottom 15px

		.user-icon
			margin-right 5px

	.menu-buttons
		padding-bottom 10px

		.menu-button
			width 96%
			height 55px
			margin 10px 2% 0px 2%

			.input-button-toggle
				width 100%
				height 55px

			.input-button-load
				width 28%
				float right
				height 55px

			.input-button-input
				width 70% !important
				float left
				height 55px
