.statistics-page
	width 100%
	min-height 100%
	background-color #E8E8E8

	.survey-info-box
		background-size 100% auto
		background-image $image-topbar
		width 100%
		padding 10px 20px 10px 30px
		color $color-light-text
		-webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.21);
		-moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.21);
		box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.21);
		
		.survey-name
			font-weight bold

	.survey-item-view
		margin-top 5px !important
		margin auto
		padding-bottom 10px 
		width 99%
		background-color white
		padding-top 10px
		padding-left 5px
		padding-right 5px

		.answer-results
			margin-top 20px !important
			width 99%
			background-color #F2F2F2
			border 1.8px solid #C3C3C3
