.button-default
	background none
	border none

	&:focus
		outline 0

	p
		float right

	&.toggle-button
	    margin auto
		width 100%

.btn-vblue
	color white !important
	background-color #00aef0
	border-color #039dd8

	&:hover
		color white !important
		background-color #039dd8
		border-color #039dd8