.answer-results
	table tbody
		border-bottom #DDDDDD solid 2px
	.pie-color
		width 30px
		height 30px
		font-size 15px
		color white
		font-weight 700

	.piechart
		#chart
			width 39vh
			margin auto
			> svg > g > g > text
				font-size 18px
				fill white
				font-weight 700
